body{
    display: flex;
    background-color: burlywood;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap: calc(20% + 15px);
}

.board{
    margin-top: auto;
}

.button{
    margin-top: auto;
}